<!-- <style type="text/css">
    .top-left-part {
      width: 500px !important;
    }
</style> -->

<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part">
            <!-- Logo -->
            <a class="logo" href="<?=base_url();?>">
                <!-- Logo icon image, you can use font-icon also --><b>
                <!--This is dark logo icon--><img src="<?=base_url();?>assets/images/admin-logo.png" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="<?=base_url();?>assets/images/admin-logo-dark.png" alt="home" class="light-logo" />
             </b>
                <!-- Logo text image you can use text also --><span class="hidden-xs">
                <!--This is dark logo text--><img src="<?=base_url();?>assets/images/admin-text.png" alt="home" class="dark-logo" /><!--This is light logo text--><img src="<?=base_url();?>assets/images/admin-text-dark.png" alt="home" class="light-logo" />
             </span> </a>
        </div>
        <!-- /Logo -->
        <!-- Search input and Toggle icon -->
        <ul class="nav navbar-top-links navbar-left">
            <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu"></i></a></li>
            <li><h3 class="text-white"><strong>Aplikasi Pembayaran Ashabulyamin</strong></h3></li>
            <!-- /.Megamenu -->
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">
                  <img src="<?=base_url();?>assets/images/member/noimage.png" alt="user-img" width="36" class="img-circle">
                    <b class="hidden-xs"><?=$this->session->userdata('ses_public_nama_member');?></b><span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-img"><img src="<?=base_url();?>assets/images/member/noimage.png" alt="user" /></div>
                            <div class="u-text">
                                <h4><?=$this->session->userdata('ses_public_nama_member');?></h4>
                                <p class="text-muted"><?=$this->session->userdata('ses_public_user');?></p>
                            </div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="<?=base_url('profile');?>/<?=$this->session->userdata('ses_id_akun');?>"><i class="ti-user"></i> My Profile</a></li>
                    <li><a href="<?=base_url();?>logout"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
